<h1> Select or Create New Company </h1>

<hr>

<h3><%= link_to 'Create New Company', new_company_path %></h3>

<hr>

<% @companies.each do |company| %>
  <ul>
    <li><h2><%= link_to company.name, company_path(company) %></h2></li>
  </ul>
<% end %>


