<h2 style="color:#6610f2;"> Select or Create a New Company </h2>

<hr>

<h4 style="padding-left:20px"><%= link_to 'ðŸ¢ Create New Company ðŸ’¼', new_company_path %></h4>
<br>

<h4 style="padding-left:20px"> Companies: </h4>
<br>
<% @companies.each do |company| %>
  <ul>
    <li><h5><%= link_to company.name, company_path(company) %></h5></li>
  </ul>
<% end %>

<hr>
