<h2 style="color:#6610f2;"> Select or Create New Company </h2>

<hr>

<h3><%= link_to 'Create New Company', new_company_path %></h3>

<hr>

<% @companies.each do |company| %>
  <ul>
    <li><h5><%= link_to company.name, company_path(company) %></h5></li>
  </ul>
<% end %>
