<h2 style="color:#6610f2;"> New Shared Calendar </h2>
<br>
<h4> Select your partner(s) below: </h4>
<br>

<% @companies.each do |company| %>
  <%= "#{company.name} - #{Timezone.find_by(code:company.country_code).name}" %>
  <%= button_to "Add Partner", { action: "add_partner", id: company.id } %>
  <br>
<% end %>

<%= button_to "Create", { action: "create" } %>

<hr>

<h4><%= link_to "Back to Company Dashboard", company_path(@company) %></h4>
