<h1> New Shared Calendar </h1>

<% @companies.each do |company| %>
  <%= company.name %>
  <%= button_to "Add Partner", { action: "add_partner", id: company.id } %>
  <br>
<% end %>

<%= button_to "Create", { action: "create" } %>

<hr>

<h3><%= link_to "Back to Company Dashboard", company_path(@company) %></h3>
